
@{
    ViewBag.Title = "Nisu pronađeni letovi";
}

<h2>Nisu pronađeni letovi</h2>
<p>Nije pronađen niti jedan let koji odgovara Vašem upitu.</p>
<p>Provjerite parametre pretrage i @Html.ActionLink("pokušajte ponovno", "Index")</p>